@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
<h1>
    Промотиране и продаване на жилищни сгради, съдържаща тяхната спецификицаия
</h1>
<h2>Кратко описание на етапите преди започване на строеж:</h2>
<p>Преди стартирането на същинската част трябва да имате създаден инвестиционен проект и идеен проект с всичките необходими допълнения.
Освен това вече трябва да сте си набавили целия необходим набор от документи.</p>
<ul>Одобрение на инвестиционен проект
    <li>Издаване на разрешение за строеж</li>
    <li>
        Издаване на АКТ 14
    </li>
    <li>
        Издаване на АКТ 15
    </li>
    <li>Издаване на АКТ 16</li>
</ul>

<p>На този етап се проверяват обстойно всички дейности и това дали отговарят на нормативната уредба. 
В случай, че става въпрос за ниски кооперации АКТ 16 не е необходим. При такава ситуация директно се преминава към издаване на удостоверение за въвеждане в експлоатация на сградата
Важно е да се запознаете с ключовите етапи на строеж, защото от тях зависи и финансирането, което ще получите от банковите институции в случай, че имате необходимост от жилищен кредит.</p>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in UserManager.Users.ToList())
            {
                <tr>
                    <td>
                        @item.Id
                   
                    </td>
                    <td>
                        @item.Email

                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
<h1>
    Локацията
</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d197293.81412611346!2d-0.5263255989320382!3d39.40793427478384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f4cf0efb06f%3A0xb4a351011f7f1d39!2sValencia%2C%20Spain!5e0!3m2!1sen!2sbg!4v1682407668493!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</html>
